NODE_ENV=development
PORT=5003
MONGO_URI=mongodb+srv://<db_user>:<db_password>@cluster0.example.mongodb.net/
JWT_SECRET=supersecretjwtkeythatshouldbechangedinproduction
JWT_EXPIRES_IN=7d
FRONTEND_URL=https://YOUR_FRONTEND.azurestaticapps.net
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=<account>;AccountKey=<key>;EndpointSuffix=core.windows.net
AZURE_STORAGE_CONTAINER_EVENTS=evoria-events
AZURE_STORAGE_CONTAINER_PROFILES=evoria-profiles
AZURE_STORAGE_CONTAINER_SESSIONS=evoria-sessions
